.movie_card {
    width: 200px;
    height: 300px;
    margin: 15px;
    overflow: hidden;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
    position: relative;
    transition: all 0.2s ease-in-out;
}

.movie_card:hover {
    transform: scale(1.08);
}

.movie_poster {
    height: 100%;
    width: 100%;
}

.movie_card_details{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    display: flex;
    flex-direction: column;
    justify-content: end;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.movie_card:hover .movie_card_details {
    opacity: 1;
}

.movie_star_icon {
    width: 20px;
    margin-left: 5px;
}

.movie_rating{
    display: flex;

}

.movie_data {
    justify-content: space-between;
    color: #ffe400;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0;
    
}

.movie_card_title {
    font-size: 16px;
    color: #ffe400;
}

.movie_description {
    font-size: 12px;
    font-family: italic;
}