.app_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #fff;
}

.app_nav_title {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #ffed4a;
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_emoji > img {
    width: 25px;
    height: 25px;
}

.nav_emoji {
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}