@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.woff");
}

:root {
  --body_background: #101010;
  --body_color: #fff;
  --heading_color: #ffe400;

}

[data-theme="light"] {
  --body_background: #fff;
  --body_color: #000;
  --heading_color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s ease-in;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body_background);
  color: var(--body_background);
  font-family: "Montserrat", sans-serif;
}

.align_items {
  display: flex;
  align-items: center;
}